.sidenav_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: first baseline;
  font-size: 2rem;
  background-color: #212c42;
  min-height: 100vh;
  width: 100%;
  gap: 1rem;
}
@media screen and (min-width: 43.75) {
  .sidenav_wrapper {
    position: fixed;
  }
}
.sidenav_profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.sidenav_profile img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}
.side_nav {
  display: grid;
  gap: 2rem;
}
.side_nav a {
  border-bottom: 2px solid black;
  text-align: center;
  color: white;
  min-width: 20rem;
}
.side_nav a:hover {
  background-color: #f56508;
  color: #212c42;
}
.admin_nav_wrapper {
  background-color: #212c42;
  color: #ffffff;
  font-size: 1.5rem;
  min-width: 25rem;
  display: grid;
  justify-content: center;
  align-items: baseline;
  /* gap: .5rem; */
  position: fixed;
  height: 100vh;
}
.admin_profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.admin_profile img {
  height: 10rem;
  width: 10rem;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 1rem;
}
.admin_links {
  display: grid;
  gap: 0.5rem;
  padding: 1rem;
}
.admin_links a {
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 10px;
  border-bottom: 3px solid black;
  border-top: 1px solid black;
}
.admin_links a:hover {
  background-color: #ffffff;
  color: #f56508;
}
