.profile_wrapper{
    font-size: 2rem;
    
}
.image_bg{
    height:15vh;
    background-image: url(../../assets/network.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content:center;
    align-items:last baseline;
}
.image_bg img{
    height: 10rem;
    width: 10rem;
    border: 3px #f56508 solid;
    border-radius: 50%;
    translate: 0 50px;
}
.profile_wrapper form{
    padding-top: 5rem;
    padding-bottom: 2rem;

}
.form-contents{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1rem;
    column-gap: 2rem;
    padding-right:3rem;
    padding-left:3rem;
}
.profile_input{
    display: grid;
}
.profile_input label{
    text-align: center;
}
.profile_input input{
    padding: 1rem;
    border-radius: 10px;
}
.profile_wrapper button{
    width: 50%;
    align-self: center;
    padding: 1rem;
    background-color: #f56508;
    color: #ffffff;
    border-radius: 15px;
    font-size: 2.1rem;
}
.profile_wrapper button:hover{
    background-color: #ffffff;
    color: #f56508;
}
.profile_wrapper a{
    font-size: 1.5rem;
    padding:1rem;
    background-color: #f56508;
    color: #ffffff;
    border-radius: 15px;
}
.profile_opt{
    padding: 1rem;
    text-align: center;
}